body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align:justify;
    color: #379d50;
}
h2{
    text-align: center;
    color: #402593;
}

form {
    display:flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #479a49;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.bill {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    text-align: center;
}

.bill button {
    background-color: #007bff;
}

.bill button:hover {
    background-color: #0056b3;
}
